<div class="container">
    <div class="row">
        <div class="col-md-12 mt-5 mb-3">
            <h1 class="text-center" style="font-size: 2rem;">
                My Slots
            </h1>
            <p class="text-center" style="font-size: 1rem">
                <span class="activeSlot" style="padding: 2px; border-radius: 2px;">Green</span> indicates an Active slot and <span class="inactiveSlot" style="padding: 2px; border-radius: 2px;">Red</span> indicates Inactive slot<br>
                Click on a lot to make it Inactive or Active<br>
                Remember to save your changes.
            </p>
        </div>
        <div *ngFor="let slot of allSlots" class="col-md-2 mt-2 px-1">
            <button 
                mat-button 
                class="w-100 slotDefault"
                [ngClass]="{ 'activeSlot': isActiveSlot(slot), 'inactiveSlot': !isActiveSlot(slot) }"
                (click)="toggleSlotState(slot)"
            >
                {{ slot - 1 + ':00 - ' + slot + ':00' }}
            </button>
        </div>
        <div class="col-md-12">
            <button
                mat-flat-button
                color="accent"
                class="w-100 mt-3 px-0 text-uppercase"
                (click)="updateSlots()"
            >
                Save Changes
            </button>
        </div>
    </div>
</div>>